<section>
  <div class="footer" id="footer">
    <div class="links">
      <img id="footerLogo" class="logo" src="/img/logo.jpg" alt="logo" />
      <div>
        <a href="https://www.facebook.com">
          <img
            class="facebook"
            src="https://img.icons8.com/ios/50/000000/facebook-new.png"
            alt="facebook"
          />

        </a>
        <a href="https://instagram.com">
          <img
            class="instagram"
            src="https://img.icons8.com/ios/50/000000/instagram-new.png"
            alt="instagram"
          />
        </a>
      </div>
      <div>
        <p class="footerHeader">Legal</p>
        <div>
          <a href="/privacy-policy">Privacy policy</a>
        </div>
        <div>
          <a href="/terms-of-use">Terms of Use</a>
        </div>
        <div>
          <a href="/support">Support</a>
        </div>
      </div>
      <div>
        <p class="footerHeader">Contact Us</p>
        <p>113 Test Ln</p>
        <p>Mon-Fri: 8:00-5:00 CST</p>
        <a href="/contact_me">Contact Us Form</a>
      </div>

    </div>

  </div>
  <div class="copyright">
    <p>
      Awsome Organics, a Service of Allana Woodward LLC ©Copyright 2022 All
      Rights Reserved.
    </p>
  </div>
</section>