<!--landing page with nav bar and 100% width hero image that shows products and an about me section that tells you story of business idea-->
<div class="navBackground">
  <div class="container mx-auto px-4">
    <nav class="flex items-center justify-between flex-wrap bg-white-800 p-6">
      <div class="flex items-center flex-shrink-0 text- mr-6">
        {{!-- icon of an organic leaf --}}
        <img id="logo" src="https://img.icons8.com/ios/50/000000/organic-food.png" alt="organic leaf icon" />
        <span id="awsome"class="font-bold text-xl tracking-tight bg-green">AW-SOME</span>
      </div>
      <div class="buttonsLeft">
        <div class="">
          <a href="/" class="">
            Home
          </a>
          <a href="/products" class="">
            Products
          </a>
          <a href="/contact_me" class="">
            Contact Me
          </a>
        </div>
      </div>

      <div class="buttonsRight">
          <a href="/login"
            class="">Login</a>
              {{!-- <a href="/signup"
                class="">Sign Up</a> --}}
      </div>
      
    
      </div>
    
    </nav>
  </div>
</div>

<div class="banner">
      <div class="bannerText">
        <img id="logoHero" src="/img/logo.jpg" alt="organic leaf icon" />
      </div>
    </div>



<script src="/css/index.css"></script>
