
    

   
{{> boilerplate }}
  <body>
{{> nav }}

<section id="sectionOne">
    <div>
        <div class="imgLeft">
            <img id="owner" src="/img/no-photo.png" alt="owner of company" />
            <p class="sectionOneText">
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</section>

<section id="sectionTwo">
  
    <div>
       
        <div class="imgRight">
             <p class="sectionTwoText">
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <img id="owner" src="/img/no-photo.png" alt="owner of company" />
        </div>
        
    </div>
</section>

<section id="sectionOne">
    <div>
        
        <div class="imgLeft">
            <img id="owner" src="/img/no-photo.png" alt="owner of company" />
            <p class="sectionOneText">
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</section>

<section id="sectionTwo">
 
    <div>
       
        <div class="imgRight">
             <p class="sectionTwoText">
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <img id="owner" src="/img/no-photo.png" alt="owner of company" />
        </div>
        
    </div>
</section>

  </body>
        

  








{{!-- Awsome Organics Story that will be in bold text in middle of screen --}}


{{!-- Bellow the text above, we have 3 small pictures in a row, bellow each photo we should have some text explaing what that product is  --}}



{{!-- Bellow the 3 small pictures and text we should have a photo on the left side of screen and the about story on the right--}}
 

  {{> footer }}
    <!-- plugin javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/css/index.css"></script>