.navBackground {
  color: white !important;
  border-bottom: 3px solid #e7e7e7;
}

.buttonsLeft a {
  justify-content: space-around;
  padding: 0 5px 0 5px;
  align-items: center;
  width: 100px;
  height: 100px;
  color: darkgreen;
  font-size: 20px;
}

.buttonsLeft a:hover {
  color: rgb(201, 167, 15);
}

.buttonsRight a {
  justify-content: space-around;
  padding: 0 5px 0 5px;
  align-items: center;
  width: 100px;
  height: 100px;
  color: darkgreen;
  font-size: 20px;
}

.buttonsRight a:hover {
  color: rgb(201, 167, 15);
}

.banner {
  background: url("../img/hero.jpg") no-repeat center center;
  background-size: cover;
  height: 30vh;
  width: 100%;
  position: relative;
}
.bannerText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(179, 17, 17);
  text-align: center;
}
#awsome {
  color: darkgreen;
  padding-left: 5px;
}

#logo {
  width: 60px;
  height: 60px;
  color: darkgreen;
  background-color: darkgreen;
  border-radius: 50%;
}

#logoHero {
  width: 200px;
  height: 200px;
  color: darkgreen;
  background-color: darkgreen;
  border-radius: 50%;
}
#product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.imgLeft {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.imgRight {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sectionOneText {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sectionTwoText {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

#sectionOne {
  background-color: white;
}

#sectionTwo {
  background-color: rgb(230, 231, 231);
  border-bottom: 3px solid #e7e7e7;
}

#imageRight {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sectionTwoText {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer {
  bottom: sticky;
  background-color: rgb(6, 51, 6);
  color: white;
  padding: 2.5%;
  /* border-top: 1px solid #0b86ee; */
}
@media (max-width: 1000px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
  }

  .footerHeader {
    padding-top: 20px;
  }
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: gold;
}
.footerHeader {
  font-weight: 900;
  font-size: 20px;
  color: rgb(226, 230, 19);
  text-align: center;
  border-bottom: whitesmoke 3px solid;
  margin-bottom: 10px;
}

.copyright {
  font-size: 0.75em;
  background-color: #3c5e3f;
  color: white;
  padding-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 5%;
}

.facebook {
  background-color: rgb(226, 230, 19);
  border-radius: 30%;
  margin-bottom: 10px;
}

.instagram {
  background-color: rgb(226, 230, 19);
  border-radius: 30%;
}

/* make it so when you hover over .facebook and .instagram the background changes coloer */
.facebook:hover,
.instagram:hover {
  background-color: rgb(51, 54, 2);
}

@media (max-width: 380px) {
  .footer {
    font-size: 0.9em;
  }
}
